@page "/"

<h3>Projet TP2</h3>

<p>
    Le BlackJack
</p>

<hr />

<h4>Objectifs du projet</h4>
<ul>
    <li>Appliquer les principes de la programmation orientťe objet</li>
    <li>Utiliser Blazor avec de composants Razor</li>
    <li>Gťrer la logique du jeu de BlackJack avec un service</li>
    <li>Manipuler des donnťes (historique, JSON)</li>
    <li>Crťer une interface interactive et dynamique</li>
</ul>

<h4>Fonctionnalitťs</h4>
<ul>
    <li>Jeu de BlackJack contre le croupier</li>
    <li>Mise d'argent et gestion du solde</li>
    <li>Affichage des cartes avec images</li>
    <li>Affichage d'une page des rŤgles du jeu</li>
    <li>Boutons 'Carte' et 'Rester'</li>
    <li>Historique des manches avec date et heure</li>
    <li>Exportation de l'historique en fichier JSON</li>
    <li>Importation et affichage d'un historique JSON</li>
    <li>Affichage d'une page information</li>
</ul>

<h4>AccŤs rapide</h4>

<NavLink href="/blackjack" class="btn btn-primary me-3">
    Joueur au BlackJack
</NavLink>

<NavLink href="/regles" class="btn btn-secondary me-1">
    RŤgles de BlackJack
</NavLink>

<NavLink href="/importer-historique" class="btn btn-secondary">
    Importer un historique JSON
</NavLink>

<hr />
<p>© TP2 cours 420-139-GG - C…GEP Gťrald-Godin 2026</p>

<!-- Main page or Home page of the app where this page will welcome the user with some text,
    it will also list the objectives of the project in a list and then include the functionalities used in the project in another list
    -->
