@page "/apropos"

<h3>¿ propos du TP2</h3>

<div class="card p-3">

    <h5>Jeu de BlackJack</h5>
    <p>
        Ce projet est une application web dÈveloppÈe avec <strong>Blazor</strong> du TP2 du cours 420-139-GG
    </p>

    <hr/>

    <h6>FonctionnalitÈs principales</h6>
    <ul>
        <li>Nouvelle manche avec mise d'argent.</li>
        <li>Tirer une carte (Hit) ou rester (Stand).</li>
        <li>Gestion automatique du croupier.</li>
        <li>Historique des manches avec date et rÈsultat.</li>
        <li>Export et import de l'historique en JSON.</li>
        <li>Interface graphique avec images de cartes.</li>
        <li>Page ‡ propos.</li>
    </ul>

    <p class="text-light mt-3">
        © Jeff Sawma 2026 TP2 cours 420-139-GG - TP 2
    </p>

</div>

<!-- This page will display a small introduction to the project,
     + it will list all the project's functionalities that are currently being used.
-->
